@model SoulHealth.Models.ASelfManagement

@{
    ViewBag.Title = "ASelfManagement";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div id="Container">
    <h2>سطح فعالیت های خود مدیریتی</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="color:red">لطفا یک سطح فعالیت خود مدیریتی را برای کاربر با شماره پرونده مشخص انتخاب کنید</h4>
    @*<h5>توضیحات:</h5>*@
    @*<h6>باتوجه به انجام فعالیت ها و وارد نمودن داده های فیزولوژیک و مصرف داروها در جدول <a href="@Url.Action("DailyRecordList")"> لیست گزارشات روزانه کاربران</a> به کاربر یکی از سطوح زیر را اختصاص دهید.</h6>*@
   
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.SId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Level1)
                @Html.ValidationMessageFor(model => model.Level1, "", new { @class = "text-danger" })
                <p>0-40%</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Level2)
                @Html.ValidationMessageFor(model => model.Level2, "", new { @class = "text-danger" })
                <p>50%-40%</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Level3)
                @Html.ValidationMessageFor(model => model.Level3, "", new { @class = "text-danger" })
                <p>70%-50%</p>

            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Level4)
                @Html.ValidationMessageFor(model => model.Level4, "", new { @class = "text-danger" })
                <p>100%-70%</p>

            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelfManagementDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SelfManagementDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelfManagementDescription, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ذخیره" class="btn btn-primary" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("بازگشت به لیست فعالیت های خود مدیریتی", "ASelfManagementList")

    </div>
</div>

<style>

    .div {
        width: 30%;
        /*margin: 5px;*/
    }

    * {
        font-family: 'iransansweb';
    }

    #Container {
        padding: 10px;
    }
</style>

<style type="text/css">

    @@font-face {
        font-family: 'iransansweb';
        src: url('../../fonts/farsi/iransansweb.ttf') format('truetype');
    }
</style>