@model IEnumerable<SoulHealth.Models.SelfManagementActivity>

@{
    ViewBag.Title = "DailySelfMList";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<div id="Container">
    <h2>لیست تعاملات خود مدیریتی روزانه کاربران</h2>

    <p>
        داده های این جدول توسط کاربران اپلیکیشن بصورت روزانه پر می شود.
        ادمین با بررسی اطلاعات این جدول باید در <a href="@Url.Action("ASelfManagement")">جدول فعالیت های خود مدیریتی </a> یکی از سطوح را برای کاربر انتخاب کند.
    </p>
    @using (Html.BeginForm())
    {
        <div>
            <input type="text" name="searchpoint" id="searchpoint" placeholder="شماره پرونده کاربر را وارد کنید">

            <input type="submit" class="btn-outline-info" style="border-radius:15%;" value="جستجو">

        </div>
    }
    <br />
    <table class="table table-bordered table-responsive">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Pid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.drug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reports)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reminders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shoppong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discription)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.drug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reports)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reminders)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.daily)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shoppong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.other)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.discription)
                </td>


                <td>
                    @Html.ActionLink("ویرایش سطح فعالیت فیزیکی کاربر", "ASelfManagement", new { id = item.id }, new { @class = "btn btn-outline-success" })
                    <button class="btn btn-outline-danger deletebtn" myid="@item.id">حذف گزارش کاربر</button>

                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("بازگشت به صفحه اصلی", "Index")
        </p>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".deletebtn").click(function () {
            var result = confirm("آیا از حذف گزارش کاربر مطمئن هستید؟");
            if (result == true) {
                var idtd = $(this).attr("myid");
                var tr = $(this).parent().parent();

                $.ajax({
                    url: "@Url.Action("DeleteSelfAByAjax")",
                    type: "POST",
                    dataType: 'json',
                    data: {id: idtd},
                    success: function (response) {
                        alert(response.msg)
                        $(tr).remove();
                    },
                    error: function (response) {
                        alert('گزارش کاربر حذف نشد');
                    }
                });

            }
            });
    });
</script>

<style>

    .div {
        width: 30%;
        /*margin: 5px;*/
    }

    * {
        font-family: 'iransansweb';
    }

    #Container {
        padding: 10px;
    }
</style>

<style type="text/css">

    @@font-face {
        font-family: 'iransansweb';
        src: url('../../fonts/farsi/iransansweb.ttf') format('truetype');
    }
</style>