@model IEnumerable<SoulHealth.Models.DiseaseRecord>

@{
    ViewBag.Title = "DiseaseRecords";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<div id="Container">
    <h2>لیست سابقه بیماری</h2>


    <p>
        @Html.ActionLink("ایجاد سابقه بیماری", "PatientDiseaseRecords")
    </p>
    @using (Html.BeginForm())
    {
        <div>
            <input type="text" name="searchpoint" id="searchpoint" placeholder="شماره پرونده کاربر را وارد کنید">

            <input type="submit" class="btn-outline-info" style="border-radius:15%;" value="جستجو">

        </div>
    }
    <br />

    <table class="table table-bordered table-responsive">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseDescription)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseDescription)
                </td>

                <td>
                    @Html.ActionLink("ویرایش سابقه بیماری", "PatientDiseaseRecords", new { id = item.id }, new { @class = "btn btn-outline-success" })

                    <button class="btn btn-outline-danger deletebtn" myid="@item.id">حذف سابقه بیماری کاربر</button>

                </td>
            </tr>
        }

    </table>
    <div>
        <p>
            @Html.ActionLink("بازگشت به صفحه اصلی", "Index")
        </p>
    </div>

</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".deletebtn").click(function () {
            var result = confirm("آیا از حذف سابقه بیماری کاربر مطمئن هستید؟");
            if (result == true) {
                var idtd = $(this).attr("myid");
                var tr = $(this).parent().parent();

                $.ajax({
                    url: "@Url.Action("DeleteDiseaseRecordsByAjax")",
                    type: "POST",
                    dataType: 'json',
                    data: {id: idtd},
                    success: function (response) {
                        alert(response.msg)
                        $(tr).remove();
                    },
                    error: function (response) {
                        alert('سابقه بیماری کاربر حذف نشد');
                    }
                });

            }
            });
    });
</script>
<style>

    .div {
        width: 30%;
        /*margin: 5px;*/
    }

    * {
        font-family: 'iransansweb';
    }

    #Container {
        padding: 10px;
    }
</style>

<style type="text/css">

    @@font-face {
        font-family: 'iransansweb';
        src: url('../../fonts/farsi/iransansweb.ttf') format('truetype');
    }
</style>