@model SoulHealth.Models.DiseaseRecord

@{
    ViewBag.Title = "PatientDiseaseRecords";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<div id="Container">
    <h2>سابقه بیماری</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="color:red">لطفا سابقه بیماری، بیمار با شماره پرونده مشخص را وارد کنید</h4>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    <div class="form-group">
        @Html.LabelFor(model => model.userId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DiseaseTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiseaseTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiseaseTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiseaseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiseaseDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiseaseDescription, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ذخیره" class="btn btn-primary" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("بازگشت به لیست سابقه بیماری بیماران", "DiseaseRecords")
    </div>
</div>

<style>

    .div {
        width: 30%;
        /*margin: 5px;*/
    }

    * {
        font-family: 'iransansweb';
    }

    #Container {
        padding: 10px;
    }
</style>

<style type="text/css">

    @@font-face {
        font-family: 'iransansweb';
        src: url('../../fonts/farsi/iransansweb.ttf') format('truetype');
    }
</style>