@model IEnumerable<SoulHealth.Models.PhysiologicalData>

@{
    ViewBag.Title = "PhyDataList";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<div id="Container">
    <h2>لیست داده های فیزیولوژیک</h2>

    <p>
        @Html.ActionLink("ایجاد داده های فیزیولوژیک", "PhysiologicalData")
    </p>
    @using (Html.BeginForm())
    {
        <div>
            <input type="text" name="searchpoint" id="searchpoint" placeholder="شماره پرونده کاربر را وارد کنید">

            <input type="submit" class="btn-outline-info" style="border-radius:15%;" value="جستجو">

        </div>
    }
    <br />
    <table class="table table-bordered table-responsive">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.PaiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hBeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bSugar)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaiId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bPressure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hBeat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bSugar)
                </td>

                <td>
                    @Html.ActionLink("ویرایش داده های فیزیولوژیک", "PhysiologicalData", new { id = item.id }, new { @class = "btn btn-outline-success" })

                    <button class="btn btn-outline-danger deletebtn" myid="@item.id">حذف داده های فیزیولوژیک کاربر</button>

                </td>
            </tr>
        }

    </table>



    <div>
        <p>
            @Html.ActionLink("بازگشت به صفحه اصلی", "Index")
        </p>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".deletebtn").click(function () {
            var result = confirm("آیا از حذف داده های فیزیولوژیک کاربر مطمئن هستید؟");
            if (result == true) {
                var idtd = $(this).attr("myid");
                var tr = $(this).parent().parent();

                $.ajax({
                    url: "@Url.Action("DeletePhyDataByAjax")",
                    type: "POST",
                    dataType: 'json',
                    data: {id: idtd},
                    success: function (response) {
                        alert(response.msg)
                        $(tr).remove();
                    },
                    error: function (response) {
                        alert('داده های فیزیولوژیک کاربر حذف نشد');
                    }
                });

            }
            });
    });
</script>
<style>

    .div {
        width: 30%;
        /*margin: 5px;*/
    }

    * {
        font-family: 'iransansweb';
    }

    #Container {
        padding: 10px;
    }
</style>

<style type="text/css">

    @@font-face {
        font-family: 'iransansweb';
        src: url('../../fonts/farsi/iransansweb.ttf') format('truetype');
    }
</style>